# Environnements virtuels
backend/venv/
frontend/venv/
venv/
__pycache__/
*.pyc

# Fichiers de configuration sensibles
backend/.env
backend/.env.new
.env
.env.local

# Node modules
node_modules/
frontend/node_modules/

# Fichiers temporaires
*.log
.DS_Store
