version: "3.9"

services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: fastapi_backend
    ports:
      - "8001:8000"
    env_file:
      - ./backend/.env
    depends_on:
      - mongo
    volumes:
      - ./backend:/app
    restart: unless-stopped

  microservice_csharp:
    build:
      context: ./microservice-csharp
      dockerfile: Dockerfile
    container_name: csharp_microservice
    ports:
      - "5001:5000"
    restart: unless-stopped

  mongo:
    image: mongo:7
    container_name: mongo_db
    volumes:
      - mongo_data:/data/db
    restart: unless-stopped

volumes:
  mongo_data:
